.app-container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: inherit;
  z-index: 1;
}

.app-content {
   -webkit-overflow-scrolling: touch;
  background: #f0f0f0;
  height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 40px; left: 0; bottom: 0; right: 0;
  width: 100%;
  z-index: 3;
}