.button {
//   .animation(all, 150ms);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  background: transparent;
  border: none;
  box-sizing: border-box;
  color: @color-app-text;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.25px;
  outline: none;
  padding: 0 8px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  zoom: 1;

  &:hover {
    color: #fff;
  }

  // &:active {
  //   color: @color-active;
  // }

  &.button-destructive {
    &:hover {
      color: #e53935;
    }

    // &:active {
    //   color: #c62828;
    // }
  }

  &:disabled, &:disabled:hover, &:disabled:active {
    color: hsla(0, 0%, 0%, 0.4);
    cursor: not-allowed;
    top: 0;
  }
}
