.home {
  .hero {
    background: darken(@pub-primary, 20%);
    .color-gradient(45deg, darken(@pub-primary, 20%), 0%, @pub-active, 50%);
    // border-bottom: 30px solid darken(@pub-primary, 25%);
    margin: 0 auto;
    padding: 5em 0 5em 0;
    text-align: center;
    width: 100%;

    &.hero-compact {
      padding: 2.5em 0 2em 0;
    }

    .pub-container {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;

      h1 {
        color: #fff;
        font-size: 1.25em;
        font-family: 'CircularStd', 'NeueHaasUnicaPro', 'Helvetica Neue', Helvetica, sans-serif;
        letter-spacing: -0.5px;
      }
    }

    .publications-logo {
      .retina-picture('pub-v5-304x53-w', 304px, 53px, inline-block);
    }
  }

  .login-bar {
    margin: 2em auto 0 auto;
    text-align: center;
    width: 65%;

    .form {
      .valign-container-space-between;

      .txt, .btn {
        margin: 0 5px;
      }
    }

    p {
      color: #777;
      font-size: 0.85em;
      line-height: 1.25em;
      margin: 1em 0 0 0;
    }
  }

  .info-section {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 3em 0;
    width: 100%;

    &.info-section-alt {
      background: @pub-active;
      border-bottom: 35px solid darken(@pub-active, 10%);
      padding: 3em 0 1.5em;

      h1, p, a {
        color: #fff
      }
    }

    .info-section-content {
      margin: 0 auto;
      max-width: 850px;
      text-align: center;
      width: 70%;
    }

    .shapes-img {
      .retina-picture('shapes', 362px, 146px, inline-block);
      margin: 0 0 2em;
    }

    h1 {
      color: darken(@pub-primary, 20%);
      font-size: 2em;
      font-family: 'CircularStd', 'NeueHaasUnicaPro', 'Helvetica Neue', Helvetica, sans-serif;
      letter-spacing: -0.5px;
      margin: 0 0 0.5em;

      &.second {
        margin-top: 2em;
      }
    }

    .about-boxes {
      .valign-container-space-between;

      .about-box {
        display: inline-block;
        width: 50%;

        h2 {
          color: #fff;
          letter-spacing: -0.5px;
          font-family: 'CircularStd', 'NeueHaasUnicaPro', 'Helvetica Neue', Helvetica, sans-serif;
          font-size: 1.25em;
        }

        .people-pic {
          border-radius: 100px;
          box-shadow: 0 0 0 8px darken(@pub-active, 10%);
          margin: 3em 0 1em;

          &#mike-pic {
            .retina-picture('mike_kelly', 100px, 100px, inline-block);
          }

          &#carlos-pic {
            .retina-picture('carlos_paelinck', 100px, 100px, inline-block);
          }
        }

        p {
          font-size: 0.9em;
        }
      }
    }

    p {
      font-size: 1.25em;
      line-height: 2em;
      margin: 0 0 1em;
    }

    a:active {
      position: relative;
      top: 1px;
    }
  }
}
