.home {
  .hero {
    margin: 0 auto;
    padding: 3em 0;
    text-align: center;
    width: 100%;

    .publications-logo {
      .retina-picture('pub-v4-logo-215x150', 215px, 150px, inline-block);
    }
  }

  .hero-bar {
    background: @pub-secondary;
    padding: 1em 0;
    text-align: center;
    width: 100%;
  }
}
