.inspector-container {
  .animation(right, 0.25s);
  box-shadow: -1px 0 2px hsla(0, 0%, 0%, 0.25);
  bottom: 0;
  height: inherit;
  position: fixed;
  right: -@inspector-width;
  top: 40px;
  width: @inspector-width;
  z-index: 8000;

  &.light {
    background: fade(#fff, 95%);
  }

  &.dark {
    background: fade(@color-dark-background, 95%);
  }

  &.inspector-container-visible {
    right: 0;
  }

  .inspector-pane {
    padding: 0.5em;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .inspector-container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &.light {
      background: fade(#fff, 85%);
    }

    &.dark {
      background: fade(@color-light-background, 85%);
    }
  }
}
