<div class="modal-dialog">
    <div class="modal-content">
      <div class="app-logo"></div>
      <div class="scrollable-content">
        <p>Publications is engineered, developed and designed by Michael Kelly and Carlos Paelinck.</p>
        <p>Publications uses a top-to-bottom JavaScript software stack including AngularJS, ExpressJS, MongooseJS, PdfKit and NodeJS.</p>
      </div>
      <button class="button button-form button-form-slim" type="button" ng-click="aboutModal()">Close</button>
    </div>
</div>