<div class="modal-dialog modal-dialog-delete">
  <div class="modal-dialog-title-bar">
    <span class="message">Are you sure you want to delete {{ doc.name }}? This action cannot be undone.</span>
  </div>
    <div class="modal-content">
      <button class="button button-form button-form-destructive" type="button" ng-click="deleteDocument()">Delete Document</button>
      <button class="button button-form button-form-slim" type="button" ng-click="deleteModal()">Cancel</button>
    </div>
</div>