<div class="modal-dialog">
  <div class="modal-dialog-title-bar">
    <span class="title">Log in to Publications</span>
  </div>
  <form ng-submit="login()" name="loginForm" role="form" class="form form-vertical">
    <div class="modal-content">
      <fieldset class="label-input label-input-modal">
        <label for="username">Email Address</label>
        <input class="input-text" type="text" ng-model="username" name="username" id="username" required>
      </fieldset>
      <fieldset class="label-input label-input-modal">
        <label for="password">Password</label>
        <input class="input-text" type="password" ng-model="password" name="password" id="password" required>
      </fieldset>
      <button class="button button-form button-form-submit" type="submit" ng-disabled="loginForm.$invalid">Log In</button>
      <button class="button button-form button-form-slim" type="button" ng-click="loginModal()">Cancel</button>

    </div>
  </form>
</div>