<div class="modal-dialog modal-dialog-wide">
  <div class="modal-dialog-title-bar">
    <div class="title">Do you want to save changes to {{doc.name}}?</div>
    <div class="message">Your changes will be lost if you don’t save them.</div>
  </div>
  <div class="modal-content">
    <button class="btn btn-frame" type="button" ng-click="updateDocument(true)">Save and Close</button>
    <button class="btn btn-frame" type="button" ng-click="showAllDocuments()">Discard Changes</button>
    <button class="btn btn-frame" type="button" ng-click="saveModal()">Cancel</button>
  </div>
</div>
