<div class="modal-dialog modal-dialog-user">
  <div class="modal-dialog-title-bar">
    <span class="title">{{ user.name }}</span>
  </div>
    <div class="modal-content">
      <button class="button button-form button-form-slim" type="button" ng-click="">Change Password</button>
      <button class="button button-form button-form-slim" type="button" ng-click="logout()">Log Out</button>
      <button class="button button-form button-form-slim" type="button" ng-click="userModal()">Close</button>
    </div>
</div>