<div class="modal-dialog-flip-container" ng-class="{ 'modal-dialog-show-back' : userModalBacksideVisible }">
  <div class="modal-dialog-flip-action">
    <div class="modal-dialog modal-dialog-flip-front">
      <div class="modal-dialog-title-bar">
        <span class="title">
          <span ng-if="user.temporary">New Publications Account</span>
          <span ng-if="!user.temporary">{{ user.name }}</span>
        </span>
      </div>
      <div class="modal-content">
        <button class="button button-form button-form-slim" type="button" ng-click="userModalFlip()">
          <span ng-if="user.temporary">Personalize and Create Account</span>
          <span ng-if="!user.temporary">Change Password</span>
        </button>
        <button class="button button-form button-form-slim" type="button" ng-click="logout()">
          <span ng-if="user.temporary">Exit Publications without Saving</span>
          <span ng-if="!user.temporary">Log Out</span>
        </button>
        <button class="button button-form button-form-slim" type="button" ng-click="userModal()">Close</button>
      </div>
    </div>
    <div class="modal-dialog modal-dialog-flip-back">
      <div class="modal-content">
        <form ng-submit="updateUserAccount()" name="userAccountForm" role="form">
          <div ng-if="user.temporary">
            <fieldset class="label-input label-input-modal">
              <label for="name">Email address</label>
              <input autocomplete="off" class="input-text" type="text" ng-model="userAccountForm.name" name="name" id="name" required>
            </fieldset>
          </div>
          <div ng-if="!user.temporary">
            <fieldset class="label-input label-input-modal">
              <label for="password">Current Password</label>
              <input autocomplete="off" class="input-text" type="password" ng-model="userAccountForm.oldPassword" name="old-password" id="old-password" required>
            </fieldset>
          </div>
          <fieldset class="label-input label-input-modal">
            <label for="password">New Password</label>
            <input class="input-text" type="password" ng-model="userAccountForm.password" name="password" id="password" required>
          </fieldset>
          <fieldset class="label-input label-input-modal">
            <label for="confirm-password">Confirm New Password</label>
            <input autocomplete="off" class="input-text" type="password" ng-model="userAccountForm.confirmPassword" name="confirm-password" id="confirm-password" required>
          </fieldset>
          <button class="button button-form" type="submit" ng-disabled="userAccountForm.$invalid || userAccountForm.password !== userAccountForm.confirmPassword">
            <span ng-if="user.temporary">Create Account</span>
            <span ng-if="!user.temporary">Change Password</span>
          </button>
          <button class="button button-form button-form-slim" type="button" ng-click="userModalFlip()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>