{
  "presets": [
    [ "env", { "loose": true, "modules" : false } ],
    "react",
    "stage-0",
    "flow"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins" : [
        "babel-plugin-styled-components",
        "transform-object-rest-spread",
        "transform-react-remove-prop-types",
        "transform-async-to-generator",
        "transform-class-properties"
      ]
    }
  }
}
