{
  "presets": [
    [ "env", { "loose": true, "modules" : false } ],
    "react",
    "stage-0",
    "flow"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
