{
  "rules": {
    "quotes": [1, "single"],
    "no-underscore-dangle": 0,
    "no-extra-boolean-cast": 0
  },
  "globals": {
    "angular": true,
    "_": true
  },
  "env": {
    "node": true
  }
}
