lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/javascripts/components
public/stylesheets/style.css
public/javascripts/dist/app.min.js
public/stylesheets/style.css
views/index.ejs
404.ejs
