lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

*.DS_Store
.DS_Store

npm-debug.log
node_modules
views/templates.js
js/_components
js/src/_templates.js
css/_style.css
js/app.min.js
js/app.dev.js
