lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

*.DS_Store
.DS_Store

npm-debug.log
node_modules
dist
/.idea/workspace.xml
/app/server/.settings
/app/server/.sts4-cache
/app/server/out
/app/server/build
/app/server/bin
/app/server/.idea
/app/server/*.iml
*.class
*.dex
.idea/workspace.xml
.idea/tasks.xml
.gradle
.classpath
.project
local.properties
/.vscode
/.idea
/server/.idea
/server/.settings
/server/.sts4-cache
/server/out
/server/publications/.settings
/server/build
/server/server.iml
/server/bin
/client/client-app.iml
/server/src/main/spring-service.iml
/client/client.iml
