<div class="app-nav">
  <div class="app-nav-logo"></div>
  <div class="app-nav-controls">
    <input class="input-text input-text-search" type="text" ng-model="search.$" placeholder="&#xe01f;">
  </div>
  <div class="app-nav-secondary-controls">
    <button class="btn" ng-click="newDocumentModal()">New Document</button>
    <button class="btn" ng-click="userModal()">Settings</button>
  </div>
</div>
<div class="documents-list">
  <div class="no-documents-banner" ng-if="documents.length === 0">
    <figure id="document-icon"></figure>
    <h1>No Documents</h1>
    <h3>Create a new document to get started</h3>
  </div>
  <div class="sort-filters" ng-if="documents.length > 0">
    <div class="button-group">
      <button ng-class="{ 'btn-active' : sortFilter === 'name' }" class="btn" ng-click="updateSortFilter('name', false)">Name</button>
      <button ng-class="{ 'btn-active' : sortFilter === 'modified' }" class="btn" ng-click="updateSortFilter('modified', true)">Created</button>
      <button ng-class="{ 'btn-active' : sortFilter === 'size' && sortReverse }" class="btn" ng-click="updateSortFilter('size', true)">Largest</button>
      <button ng-class="{ 'btn-active' : sortFilter === 'size' && !sortReverse }" class="btn" ng-click="updateSortFilter('size', false)">Smallest</button>
    </div>
  </div>
  <div class="document-item"
       pub-document-item
       ng-repeat="doc in documents | filter: search | orderBy: sortFilter : sortReverse"
       ng-init="doc.modifiedStr = ( doc.modified | date: 'EEEE MMMM d, yyyy' ); doc.size = doc.height * doc.width;"
       ui-sref="pub.documents.document.views({ documentId: doc._id })">
  </div>
</div>
<div pub-modal-new-document class="app-cover animation-fade-in" ng-show="newDocumentModalVisible"></div>
<div pub-modal-user class="app-cover animation-fade-in" ng-show="userModalVisible"></div>
<div pub-modal-about class="app-cover animation-fade-in" ng-show="aboutModalVisible"></div>
<div ui-view></div>
<div class="app-footer"></div>
