<div class="documents-list">
  <div class="app-controls">
    <div class="app-wordmark"></div>
    <input class="txt txt-search" type="text" ng-model="search.$" placeholder="&#xe01f;">
    <div class="btn-group">
      <button ng-hide="documents.length === 0" class="btn btn-frame" ng-click="newDocumentModal()">New</button>
      <button class="btn btn-frame" ng-click="viewUser()">{{user.temporary ? 'Create Account' : 'Settings'}}</button>
    </div>
  </div>
  <div class="no-documents-banner" ng-if="documents.length === 0">
    <h1>No Documents</h1>
    <button class="btn btn-frame" ng-click="newDocumentModal()">Create a new document</button>
  </div>
  <div class="document-item"
       pub-document-item
       ng-repeat="doc in documents | filter: search | orderBy: name"
       ng-init="doc.modifiedStr = ( doc.modified | date: 'EEEE MMMM d, yyyy' ); doc.size = doc.height * doc.width;"
       ui-sref="pub.documents.document.views({ documentId: doc._id })">
  </div>
</div>
<div pub-modal-new-document class="app-cover animation-fade-in" ng-show="newDocumentModalVisible"></div>
<div ui-view></div>
