<!-- <div pub-inspector></div> -->
<div class="app-controls">
  <div class="app-wordmark"></div>
  <div class="app-name">
    {{doc.name}}
    </div>
  <div class="btn-group">
    <div class="dropdown" dropdown>
      <button class="btn" dropdown-toggle>New Object</button>
      <div class="dropdown-menu document-item-menu padded-menu" role="menu">
        <button class="dropdown-menu-item" type="button" ng-click="addObject('rect')">Rectangle</button>
        <button class="dropdown-menu-item" type="button" ng-click="addObject('ellipse')">Ellipse</button>
        <button class="dropdown-menu-item" type="button" ng-click="addObject('text')">Text Box</button>

      </div>
    </div>
    <button class="btn" ng-click="updateDocument(false)">Save</button>
    <button class="btn" ng-click="updateDocument(true)">Documents</button>
  </div>
</div>
<div class="editor-toolbar" ng-class="{'active' : selectedObj !== null}">
  <div class="editor-toolbar-container">
    <div ng-if="selectedObj">
      <div class="txt-control">
        <input pub-signed-float-input type="text" name="x" id="x" class="txt" ng-model="selectedObj.x" />
        <label class="txt-label" for="x">X</label>
      </div>
      <div class="txt-control">
        <input pub-signed-float-input type="text" name="y" id="y" class="txt txt-mono" ng-model="selectedObj.y" />
        <label class="txt-label" for="y">Y</label>
      </div>
      <div class="txt-control">
        <input pub-unsigned-non-zero-float-input type="text" name="width" id="width" class="txt" ng-model="selectedObj.width" />
        <label class="txt-label" for="width">Width</label>
      </div>
      <div class="txt-control">
        <input pub-unsigned-non-zero-float-input type="text" name="height" id="height" class="txt" ng-model="selectedObj.height" />
        <label class="txt-label" for="height">Height</label>
      </div>
      <div class="spacer"></div>
      <div class="txt-control-group" ng-if="selectedObj.type === 'text'">
        <div class="txt-control">
          <div pub-typeface-picker typefaces="typefaces" selected-obj="selectedObj"></div>
          <label class="txt-label" for="typeface">Typeface</label>
        </div>
        <div class="txt-control">
          <input pub-unsigned-integer-input type="text" name="font-size" id="font-size" class="txt" ng-model="selectedObj.fontSize" />
          <label class="txt-label" for="font-size">Size</label>
        </div>
        <div class="txt-control">
          <div class="btn-toolbar-icon-group">
            <button class="btn btn-icon btn-toolbar-icon" ng-class="{'btn-toolbar-icon-active' : selectedObj.textAlign === 'left'}" ng-click="changeTextAlign('left')">&#xe4f5;</button>
            <button class="btn btn-icon btn-toolbar-icon" ng-class="{'btn-toolbar-icon-active' : selectedObj.textAlign === 'center'}" ng-click="changeTextAlign('center')">&#xe4f4;</button>
            <button class="btn btn-icon btn-toolbar-icon" ng-class="{'btn-toolbar-icon-active' : selectedObj.textAlign === 'right'}" ng-click="changeTextAlign('right')">&#xe4f6;</button>
          </div>          
          <label class="txt-label">Alignment</label>
        </div>
      </div>
      <div class="txt-control" ng-if="selectedObj.type === 'rect' || selectedObj.type === 'ellipse'">
        <input pub-unsigned-integer-input type="text" name="stroke-width" id="stroke-width" class="txt" ng-model="selectedObj.strokeWidth" />
        <label class="txt-label" for="stroke-width">Stroke</label>
      </div>
      <div class="txt-control" ng-if="selectedObj.type === 'rect'">
        <input pub-unsigned-integer-input type="text" name="stroke-radius" id="stroke-radius" class="txt" ng-model="selectedObj.r" />
        <label class="txt-label" for="stroke-radius">Radius</label>
      </div>
      <div class="spacer"></div>
      <div class="txt-control" ng-if="selectedObj.type === 'text'">
        <div pub-color-picker class="color-picker-container" colors="colors" property="color" selected-obj="selectedObj" color="selectedObj.color"></div>
        <label class="txt-label">Text</label>
      </div>
      <div class="txt-control" ng-if="selectedObj.type === 'rect' || selectedObj.type === 'ellipse'">
        <div pub-color-picker class="color-picker-container" colors="colors" property="fill" selected-obj="selectedObj" color="selectedObj.fill"></div>
        <label class="txt-label">Fill</label>
      </div>
      <div class="txt-control" ng-if="selectedObj.type === 'rect' || selectedObj.type === 'ellipse'">
        <div pub-color-picker class="color-picker-container" colors="colors" property="stroke" selected-obj="selectedObj" color="selectedObj.stroke"></div>
        <label class="txt-label">Stroke</label>
      </div>
    </div>
  </div>
</div>
<div ui-view="document-canvas"></div>