<div class="app-nav">
  <div class="app-nav-primary-controls">
    <div class="app-nav-text">Documents</div>
  </div>
  <div class="app-nav-controls app-nav-controls-search">
    <input class="input-text input-text-search" type="text" ng-model="search.$" placeholder="&#xe01f;">
  </div>
  <div class="app-nav-secondary-controls">
    <button class="button button-icon" data-icon="&#xe2aa;" ng-click="newDocumentWindow()"></button>
    <button class="button button-icon" ng-disabled="!selectedDoc" data-icon="&#xe21e;" ng-click=""></button>
    <button class="button button-icon" ng-disabled="!selectedDoc" data-icon="&#xe001;" ng-click="deleteDocument()"></button>
    <button class="button button-icon" data-icon="&#xe174;" ng-click="aboutApp()"></button>
    <!-- <button class="button button-icon" data-icon="&#xe52c;" ng-click="logout()"></button> -->
  </div>
</div>
<div class="documents-list" ng-click="docSelected(null)">
  <div class="document-item"
       pub-document-item
       ng-repeat="doc in documents | filter: search | orderBy: 'modified' : true"
       ng-init="doc.modifiedStr = ( doc.modified | date: 'EEEE MMMM d, yyyy' );"
       ng-click="docSelected(doc); $event.stopPropagation();"
       ng-class="{ selected: selectedDoc === doc }" >
  </div>
</div>
<div pub-modal-new-document class="app-cover" ng-show="newDocumentWindowVisible"></div>
<div ui-view>