<!-- <div pub-inspector></div> -->
<div class="app-controls">
  <div class="app-wordmark"></div>
  <div class="app-name">
    {{doc.name}}
  </div>
  <div class="btn-group">
    <div class="dropdown" dropdown>
      <button class="btn" dropdown-toggle>New</button>
      <div class="dropdown-menu document-item-menu padded-menu" role="menu">
        <button class="dropdown-menu-item" type="button" ng-click="addObject('rect')">Rectangle</button>
        <button class="dropdown-menu-item" type="button" ng-click="addObject('ellipse')">Ellipse</button>
        <button class="dropdown-menu-item" type="button" ng-click="addObject('text')">Text Box</button>
      </div>
    </div>
    <div class="dropdown" dropdown>
      <button class="btn" dropdown-toggle>Edit</button>
      <div class="dropdown-menu document-item-menu padded-menu" role="menu">
        <button class="dropdown-menu-item" type="button" ng-click="cutObj()" ng-disabled="!selectedObj">Cut</button>
        <button class="dropdown-menu-item" type="button" ng-click="copyObj()" ng-disabled="!selectedObj">Copy</button>
        <button class="dropdown-menu-item" type="button" ng-click="pasteObj()" ng-disabled="!clipboard">Paste</button>
        <div class="dropdown-menu-spacer"></div>
        <button class="dropdown-menu-item" type="button" ng-click="deleteObj()" ng-disabled="!selectedObj">Remove Object</button>
      </div>
    </div>
    <div class="dropdown" dropdown>
      <button class="btn" dropdown-toggle>View</button>
      <div class="dropdown-menu document-item-menu padded-menu" role="menu">
        <div class="dropdown-menu-header">Zoom</div>
        <button class="dropdown-menu-item" ng-click="setZoomLevel(0.5)">
          50%
          <span class="accessory-item" data-icon="&#xe2fe;" ng-if="zoomLevel === 0.5"></span>
        </button>
        <button class="dropdown-menu-item" ng-click="setZoomLevel(0.75)">
          75%
          <span class="accessory-item" data-icon="&#xe2fe;" ng-if="zoomLevel === 0.75"></span>
        </button>
        <button class="dropdown-menu-item" ng-click="setZoomLevel(1)">
          100%
          <span class="accessory-item" data-icon="&#xe2fe;" ng-if="zoomLevel === 1"></span>
        </button>
        <button class="dropdown-menu-item" ng-click="setZoomLevel(1.25)">
          125%
          <span class="accessory-item" data-icon="&#xe2fe;" ng-if="zoomLevel === 1.25"></span>
        </button>
        <button class="dropdown-menu-item" ng-click="setZoomLevel(1.5)">
          150%
          <span class="accessory-item" data-icon="&#xe2fe;" ng-if="zoomLevel === 1.5"></span>
        </button>
        <button class="dropdown-menu-item" ng-click="setZoomLevel(2)">
          200%
          <span class="accessory-item" data-icon="&#xe2fe;" ng-if="zoomLevel === 2"></span>
        </button>
        <button class="dropdown-menu-item" ng-click="setZoomLevel(3)">
          300%
          <span class="accessory-item" data-icon="&#xe2fe;" ng-if="zoomLevel === 3"></span>
        </button>
        <div class="dropdown-menu-spacer"></div>
        <button class="dropdown-menu-item" type="button" ng-click="toggleCanvasGrid()">{{ showCanvasGrid ? 'Hide' : 'Show'}} Canvas Grid</button>
        <button class="dropdown-menu-item" type="button" ng-click="toggleSnapToGrid()">{{ snapToGrid ? 'Freeform Objects' : 'Snap Objects to Grid'}}</button>
      </div>
    </div>
    <button class="btn" ng-click="updateDocument(false)">Save</button>
    <button class="btn" ng-click="updateDocument(true)">Documents</button>
  </div>
</div>
<div class="editor-toolbar" ng-class="{'active' : selectedObj !== null}">
  <div class="editor-toolbar-container">
    <div ng-if="selectedObj">
      <div class="txt-control">
        <input pub-signed-float-input type="text" name="x" id="x" class="txt" ng-model="selectedObj.x" />
        <label class="txt-label" for="x">X</label>
      </div>
      <div class="txt-control">
        <input pub-signed-float-input type="text" name="y" id="y" class="txt txt-mono" ng-model="selectedObj.y" />
        <label class="txt-label" for="y">Y</label>
      </div>
      <div class="txt-control">
        <input pub-unsigned-non-zero-float-input type="text" name="width" id="width" class="txt" ng-model="selectedObj.width" />
        <label class="txt-label" for="width">Width</label>
      </div>
      <div class="txt-control">
        <input pub-unsigned-non-zero-float-input type="text" name="height" id="height" class="txt" ng-model="selectedObj.height" />
        <label class="txt-label" for="height">Height</label>
      </div>
      <div class="spacer"></div>
      <div class="txt-control-group" ng-if="selectedObj.type === 'text'">
        <div class="txt-control">
          <div pub-typeface-picker typefaces="typefaces" selected-obj="selectedObj"></div>
        </div>
        <div class="txt-control">
          <input pub-unsigned-integer-input type="text" name="font-size" id="font-size" class="txt" ng-model="selectedObj.fontSize" />
        </div>
        <div class="txt-control">
          <div class="btn-toolbar-icon-group">
            <button class="btn btn-icon btn-toolbar-icon" ng-class="{'btn-toolbar-icon-active' : selectedObj.textAlign === 'left'}" ng-click="changeTextAlign('left')">&#xe4f5;</button>
            <button class="btn btn-icon btn-toolbar-icon" ng-class="{'btn-toolbar-icon-active' : selectedObj.textAlign === 'center'}" ng-click="changeTextAlign('center')">&#xe4f4;</button>
            <button class="btn btn-icon btn-toolbar-icon" ng-class="{'btn-toolbar-icon-active' : selectedObj.textAlign === 'right'}" ng-click="changeTextAlign('right')">&#xe4f6;</button>
          </div>          
        </div>
      </div>
      <div class="txt-control" ng-if="selectedObj.type === 'rect' || selectedObj.type === 'ellipse'">
        <input pub-unsigned-integer-input type="text" name="stroke-width" id="stroke-width" class="txt" ng-model="selectedObj.strokeWidth" />
        <label class="txt-label" for="stroke-width">Stroke</label>
      </div>
      <div class="txt-control" ng-if="selectedObj.type === 'rect'">
        <input pub-unsigned-integer-input type="text" name="stroke-radius" id="stroke-radius" class="txt" ng-model="selectedObj.r" />
        <label class="txt-label" for="stroke-radius">Radius</label>
      </div>
      <div class="spacer"></div>
      <div class="txt-control" ng-if="selectedObj.type === 'text'">
        <div pub-color-picker class="color-picker-container" colors="colors" property="color" selected-obj="selectedObj" color="selectedObj.color"></div>
      </div>
      <div class="txt-control" ng-if="selectedObj.type === 'rect' || selectedObj.type === 'ellipse'">
        <div pub-color-picker class="color-picker-container" colors="colors" property="fill" selected-obj="selectedObj" color="selectedObj.fill"></div>
        <label class="txt-label">Fill</label>
      </div>
      <div class="txt-control" ng-if="selectedObj.type === 'rect' || selectedObj.type === 'ellipse'">
        <div pub-color-picker class="color-picker-container" colors="colors" property="stroke" selected-obj="selectedObj" color="selectedObj.stroke"></div>
        <label class="txt-label">Stroke</label>
      </div>
    </div>
  </div>
</div>
<div ui-view="document-canvas"></div>