<div class="app-controls">
  <div class="app-wordmark"></div>
  <div class="app-name">
    Publications
  </div>
  <div class="btn-group">
    <div class="dropdown" dropdown is-open="newDocumentModalVisible">
      <button class="btn dropdown-toggle" dropdown-toggle>New</button>
      <div class="dropdown-menu document-item-menu padded-menu new-document" role="menu" ng-click="$event.stopPropagation()">
        <form ng-submit="newDocument()" name="newDocumentForm" role="form" class="form form-vertical">
          <div class="form-text-inputs">
            <div class="txt-group">
              <input class="txt light" type="text" ng-model="newName" name="name" id="name" required>
              <label class="txt-label" for="name">Name</label>
            </div>
            <div class="txt-group txt-group-half-width txt-group-half-width-left">
              <input pub-unsigned-non-zero-float-input class="txt light" type="text" ng-model="newWidth" name="width" id="width" required>
              <label class="txt-label" for="width">Width (inches)</label>
            </div>
            <div class="txt-group txt-group-half-width txt-group-half-width-right">
              <input pub-unsigned-non-zero-float-input class="txt light" type="text" ng-model="newHeight" name="height" id="height" required>
              <label class="txt-label" for="height">Height (inches)</label>
            </div>
          </div>
          <div class="dropdown-menu-spacer"></div>
          <button class="dropdown-menu-item" type="submit" ng-disabled="newDocumentForm.$invalid">Create Document</button>
        </form>
      </div>
    </div>
    <button class="btn" ng-disabled="selectedDoc === null" ng-click="openDocument(selectedDoc)">Edit</button>
    <form action="{{ 'documents/' + selectedDoc._id + '/pdf'}}" target="_blank" style="display: inline-block;">
      <button class="btn" type="submit" ng-disabled="selectedDoc === null">PDF</button> 
    </form>
    <button class="btn" ng-disabled="selectedDoc === null" ng-click="deleteDocument(selectedDoc)">Delete</button> 
  </div>
  <div class="dropdown dropdown-float-right" dropdown>
    <button class="btn" dropdown-toggle>{{user.temporary ? 'Test Drive User' : user.name}}</button>
    <div class="dropdown-menu user-menu padded-menu" role="menu">
      <button class="dropdown-menu-item" type="button" ng-click="viewUser()">{{user.temporary ? 'Create Account' : 'Change Password'}}</button>
      <div class="dropdown-menu-spacer"></div>
      <button class="dropdown-menu-item" type="button" ng-click="logout()">Log Out</button>
    </div>
  </div>
</div>
<div class="documents-list"  ng-click="documentIconSelected(null)">
  <div class="documents-list-container">
    <div class="no-documents-banner" ng-if="documents.length === 0">
      <h1>No Documents</h1>
    </div>
    <input class="txt txt-search big" type="text" ng-model="search.$" placeholder="&#xe01f;">
    <div class="document-item"
         pub-document-item
         ng-class="{'document-item-active' : selectedDoc === doc}"
         ng-click="documentIconSelected(doc); $event.stopPropagation();"
         ng-dblclick="openDocument(doc)"
         ng-repeat="doc in documents | filter: search | orderBy: name"
         ng-init="doc.modifiedStr = ( doc.modified | date: 'd MMM yyyy' ); doc.size = doc.height * doc.width;">
    </div>
  </div>
</div>