<div class="app-nav animation-fade-in">
  <div class="app-nav-logo"></div>
  <div class="app-nav-controls">
    <div class="inspector-group">
      <button class="button button-icon"
              data-icon="&#xe052;"
              ng-click="toggleInspector('object')">
      </button>
      <div pub-inspector-object
           class="inspector-view inspector-view-full-width"
           ng-if="currentInspector === 'object'">
      </div>
    </div>
    <div class="inspector-group">
      <button class="button button-icon"
              data-icon="&#xe058;"
              ng-click="toggleInspector('color')"
              ng-disabled="!selectedObj">
      </button>
      <div pub-inspector-color
           class="inspector-view inspector-view-full-width"
           ng-if="currentInspector === 'color'">
      </div>
    </div>
    <div class="inspector-group">
      <button class="button button-icon"
              data-icon="&#xe4e4;"
              ng-click="toggleInspector('text')"
              ng-disabled="selectedObj.type !== 'text'">
      </button>
      <div pub-inspector-text
           class="inspector-view inspector-view-full-width"
           ng-if="currentInspector === 'text'">
      </div>
    </div>
    <button class="button button-icon"
            data-icon="&#xe055;"
            ng-click="swapObject('up')"
            ng-disabled="!moveUpButtonEnabled()">
    </button>
    <button class="button button-icon"
            data-icon="&#xe054;"
            ng-click="swapObject('down')"
            ng-disabled="!moveDownButtonEnabled()">
    </button>
    <button class="button button-icon"
            data-icon="&#xe02d;"
            ng-click="cutObj()"
            ng-disabled="!selectedObj">
    </button>
    <button class="button button-icon"
            data-icon="&#xe278;"
            ng-click="copyObj()"
            ng-disabled="!selectedObj">
    </button>
    <button class="button button-icon"
            data-icon="&#xe24a;"
            ng-click="pasteObj()"
            ng-disabled="!clipboard">
    </button>
    <div class="inspector-group">
      <button class="button button-text button-text-zoom"

              ng-click="toggleInspector('zoom')">
              {{ zoomLevel * 100}}%
      </button>
      <div pub-inspector-zoom
           class="inspector-view inspector-view-half-width"
           ng-if="currentInspector === 'zoom'">
      </div>
    </div>
  </div>
  <div class="app-nav-secondary-controls app-nav-secondary-controls-no-left-padding">
    <button class="btn"
            ng-click="deleteModal()">
            Delete
    </button>
    <button class="btn"
            ng-click="exportDocument()">
            Save &amp; PDF
    </button>
    <button class="btn"
            ng-click="saveModal()">
            Documents
    </button>
  </div>
</div>