html, body {
  -webkit-font-smoothing: antialiased;
  background: @lightgray-light;
  color: @darkgray-dark;
  height: 100%;
  font-family: 'Proxima Nova', Helvetica, sans-serif;
  font-size: 15px;
  max-height: 100%;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

.app-nav {
  background: #fff;
  border-bottom: 1px solid @mediumgray-light;
  height: @app-nav-height;
  text-align: left;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 5;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;

  .app-nav-controls {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 6px;
  }

  .app-nav-secondary-controls {
    vertical-align: middle;
    text-align: center;
    padding: 0 4px 0 8px;
  }

  .app-nav-logo {
    .retina-picture('pub-logo-40', 41px, 40px, inline-block);
  }
}

.app-content {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: inherit;
  overflow: hidden;
  z-index: 1;
}

.app-cover {
  background: transparent;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 8999;
}

.user-box {
  .modal-box(400px, 420px);

  .pub-logo-128 {
    margin: 2em auto 0.5em auto;
  }

  .app-name {
    font-size: 2.2em;
    font-weight: 200;
    text-align: center;
  }

  .app-credits {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    width: 85%;
    margin: 0 auto;

    p {
      margin: 1em 0;
    }
  }
}

.pub-logo-72 {
  .retina-picture('pub-logo-72', 72px, 72px, block);
  margin: 0 auto;
}

.pub-logo-128 {
  .retina-picture('pub-logo-128', 128px, 128px, block);
  margin: 0 auto;
}
