html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: @darkgray-dark;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}

.app-footer {
  background: #313131;
  bottom: 0;
  height: @app-footer-height;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 6;

  @media (max-width: 767px) {
    height: 0;
    display: none;
  }
}

.app-controls {
//   background: hsla(238, 4%, 15%, 0.98);
  background: #333;
  padding: 0;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9005;

  .app-wordmark {
    .retina-picture('publications-wordmark', 25px, 26px, inline-block);
    float: left;
    margin: 7px 0 0 1.5em;

    @media all and (max-width: 767px) {
      float: none;
      display: block;
      margin: 0;
      background-position: center center;
      width: 100%;
    }
  }
  
  .app-name {
    float: left;
    display: inline-block;
    color: #ccc;
    font-weight: 500;
    font-size: 15px;
    margin: 9px 10px 0 10px;
  }

  .btn-group {
    float: left;
    margin: 9px 1.5em 0 0;

    @media all and (max-width: 767px) {
      float: none;
      display: block;
      margin: 1em 0;
    }
  }

  h1 {
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    vertical-align: middle;
  }

  &:after {
    content: ' ';
    clear: both;
    display: block;
  }
}

.app-content {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: inherit;
  z-index: 1;
}

.app-cover {
  height: 100%;
  background: hsla(0, 0%, 0%, 0.6);
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 8999;
}

.pub-logo-72 {
  .retina-picture('pub-logo-72', 72px, 72px, block);
  margin: 0 auto;
}

.pub-logo-128 {
  .retina-picture('pub-logo-128', 128px, 128px, block);
  margin: 0 auto;
}
