html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: @darkgray-dark;
  height: 100%;
  font-family: 'Sailec', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}

.app-footer {
  background: @color-primary;
  bottom: 0;
  height: @app-footer-height;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 6;
}

.app-controls {
  margin: 1em 0 0.5em 0;
  text-align: center;

  .app-wordmark {
    .retina-picture('publications-wordmark', 144px, 25px, inline-block);
    float: left;
    margin: 0 0 0 1.5em;
    vertical-align: middle;
  }

  .btn-group {
    float: right;
    margin: 0 1.5em 0 0;
  }

  h1 {
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    vertical-align: middle;
  }

  &:after {
    content: ' ';
    clear: both;
    display: block;
  }
}

.app-content {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: inherit;
  z-index: 1;
}

.app-cover {
  height: 100%;
  background: hsla(0, 0%, 0%, 0.6);
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 8999;
}

.pub-logo-72 {
  .retina-picture('pub-logo-72', 72px, 72px, block);
  margin: 0 auto;
}

.pub-logo-128 {
  .retina-picture('pub-logo-128', 128px, 128px, block);
  margin: 0 auto;
}
