.btn-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  border: none;
  box-sizing: border-box;
  color: @color-text-bright;
  font-size: 14px;
  font-weight: 500;
  margin: 0 7px;
  padding: 4px 2px;
  vertical-align: middle;
}

.btn {
  .animation(all, 150ms);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 13px;
  padding: 2px 0 1px 0;
  outline: none;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  zoom: 1;

  &:hover {
    color: #fff;
    cursor: pointer;
  }

  &:active {
    .touch-animation(0.95);
    color: #fff;
    cursor: pointer;
  }

  &.btn-active {
    border-bottom-color: #fff;
    color: #fff;
  }

  &.btn-light {
    color: #fff;
  }
  
  &.btn-dark {
  	color: hsla(0, 0%, 100%, 0.85);
  }

  &.btn-frame {
    border: 1px solid @color-line-bright;
    border-radius: 2px;
    color: @color-text;
    cursor: default;
    letter-spacing: -0.25px;
    margin: 0 6px;
    padding: 2px 19px;    

    @media all and (max-width: 767px) {
      font-size: 16px;
      padding: 1px 20px;
    }

    &:hover, &.active {
      border-color: darken(@color-primary, 10%);
      color: @color-primary;
    }

    &:active {
      .touch-animation(1);
      border-color: @color-primary;
      color: @color-primary;
    }
    
    &.btn-frame-full {
      width: 100%;
      margin: 0;
    }
  }

  &.btn-full-width {
    padding: 10px 0;
    margin: 0;
    width: 100%;
  }

  &.btn-small {
    font-size: 13px;
    padding: 2px;
    margin: 0 8px;
  }

  &.btn-destructive {
    &:hover, &:active {
      color: @red-light;
    }
  }

  &.btn-icon-text {
    margin: 4px;

    .icon {
      display: inline-block;
      font-family: 'streamline-24px';
      font-size: 24px;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      line-height: 1;
      margin: 0 4px 0 0;
      padding: 0;
      speak: none;
      text-align: center;
      text-transform: none !important;
      vertical-align: middle;
    }

    .text {
      display: inline-block;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
    }

    &.btn-icon-text-active {
      .icon {
        font-family: 'streamline-24px-filled-in';
      }
    }
  }

  &.btn-icon {
    border: 1px solid transparent;
    font-family: 'streamline-24px';
    font-size: 20px;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    margin: 0 4px;
    padding: 0 2px;
    width: 24px;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
      
    &.btn-toolbar-icon {
      border-radius: 2px;
      background: hsla(0, 0%, 0%, 0.2);
      padding: 0 2px;
      margin: 0;
      font-size: 15px;
      height: 17px;
      line-height: 13px;
      
      &.btn-toolbar-icon-active {
        background: #bfbfd0;
        color: @color-text;
      }
    }
  }

  &:disabled, &:disabled:hover {
    color: hsla(0, 0%, 0%, 0.25);

    &.btn-frame {
      background: #f5f5f5 !important;
    }
  }
}

.btn-toolbar-icon-group {
  margin: 3px 0 0 0;
  
  .btn-toolbar-icon {
    border-radius: 0 !important;
    float: left;
    padding: 0 6px !important;
    width: 33px;
    
    &:first-child {
      border-radius: 2px 0 0 2px !important;
    }
    
    &:last-child {
      border-radius: 0 2px 2px 0 !important;
    }
  }
  
  &:after {
    clear: both;
    display: block;
    content: ' ';
  }
  
  + .txt-label {
    margin: 1px 0 0 0 !important;
  }
}
