@color-text: #484a53;
@color-text-bright: #607d8b;
@color-primary: #7e57c2;
@color-primary-bright: #9575cd;
@color-line-ultra-bright: #cfd8dc;
@color-line-bright: #b0bec5;
@color-background-bright: lighten(#eceff1, 5%);
@color-background: lighten(#cfd8dc, 5%);
@color-err: #e51c23;
