@color-text: #484a53;
@color-text-bright: lighten(#484a53, 15%);
@color-primary: #455dde;
@color-primary-bright: #5677fc;
@color-line-ultra-bright: #cfd8dc;
@color-line-bright: #bdbdbd;
@color-line: #9e9e9e;
@color-background-bright: lighten(#eceff1, 5%);
@color-background: #fafafa;
@color-err: #e51c23;
