.documents-list {
  height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: @app-nav-height * 2; left: 0; bottom: @app-footer-height; right: 0;
  width: 100%;
  z-index: 3;

  .document-item {
    .animation(color, 250ms);
    .rounded-corners(4px);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    margin: 1em;
    padding: 0.5em;
    text-align: center;
    vertical-align: bottom;
    border: none;


    .document-icon {
      .animation(all, 250ms);
      display: inline-block;
      background: #fff;
      border: 1px solid @mediumgray-dark;
      width: 85px;
      height: 110px;
      position: relative;
    }

    &:hover {
      color: @blue;
      
      .document-icon {
        border-color: @blue;
      }
    }
    
    &:active {
      position: relative;
      top: 1px;
      color: darken(@blue, 10%);
      
      .document-icon {
        border-color: darken(@blue, 10%);
      }
    }

    .document-name,
    .document-date {
      display: block;
    }

    .document-name {
      font-weight: bold;
    }

    .document-date {
      font-size: 0.8em;
    }
  }

}