.documents-list {
  background: #dcdedf;
  height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: @app-nav-height; left: 0; bottom: @app-footer-height; right: 0;
  width: 100%;
  z-index: 3;

  .no-documents-banner {
    .center;
    text-align: center;

    #document-icon {
      .svg-picture('document-icon', 207px, 207px, block);
      margin: 0 auto;
    }

    h1 {
      color: hsla(0, 0%, 0%, 0.2);
      font-size: 2em;
      font-weight: 300;
      margin: 0.5em 0 0 0;
      letter-spacing: -0.5px;
    }

    h3 {
      color: hsla(0, 0%, 0%, 0.2);
      font-size: 1.25em;
      margin: 0;
      letter-spacing: -0.5px;
    }

  }

  .sort-filters {
    margin: 1.5em auto 0 auto;
    text-align: center;

    .button {
      &.button-sort-active {
        background: @blue-dark;
        border-color: @blue-dark;
        color: #fff;
      }
    }
  }

  .document-item {
    .animation(color, 250ms);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    margin: 0.5em;
    padding: 1em;
    text-align: center;
    vertical-align: bottom;


    .document-icon {
      background: #fff;
      border: 1px @mediumgray-dark solid;
      display: inline-block;
    }

    &:hover {
      color: @blue-dark;
    }

    &:active {
      position: relative;
      top: 1px;
    }

    .document-name,
    .document-date {
      display: block;
      line-height: 1em;
      margin: 0.5em;
    }

    .document-name {
      font-size: 1em;
      font-weight: 500;
    }

    .document-date {
      color: lighten(@darkgray-dark, 10%);
      font-size: 0.85em;
    }
  }

}