.home {
  .hero {
    margin: 0 auto;
    text-align: center;
    width: 70%;

    .app-wordmark {
      .retina-picture('publications-full-logo', 214px, 147px, inline-block);
      margin: 3em auto 0;
      vertical-align: middle;
    }

    h1 {
      color: #757575;
      font-size: 1.1em;
      margin: 1em auto 3em;
      text-transform: uppercase;
    }
  }

  .bar {
    background: #eee;

    .full-width {
      width: 100%;
    }

    .login-content {
      padding: 2em 0;
      margin: 0 auto;
      width: 70%;
    }
  }
}
