.inspector {
  background: @color-background-bright;
  border-right: 1px solid @color-line-bright;
  height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0; right: 0; bottom: @app-footer-height; left: 0;
  width: 20%;
  z-index: 5;

  .inspector-buttons {
    text-align: center;

    .btn-icon {
      margin: 10px 5px; 
    }
  }
}
