.landing {
  .landing-header {
    margin: 3em auto 1em auto;
    text-align: center;
    width: 70%;

    .app-wordmark {
      .svg-picture('publications-full-logo', 214px, 147px, inline-block);
      vertical-align: middle;
    }

    h1 {
      font-size: 1.5em;
      letter-spacing: -0.5px;
      margin: 0 auto;
      margin: 2em auto 1em;
    }

    h2 {
      color: #757575;
      font-size: 1.25em;
      letter-spacing: -0.5px;
      margin: 0 auto 3em auto;
      width: 80%;
    }

    .landing-rule {
      border-bottom: 1px solid #d5d5d5;
      margin: 0 auto;
      width: 100%;
    }
  }



  h3 {
    font-size: 1.1em;
    letter-spacing: -0.5px;
    margin: 0 auto;
    margin: 1em auto 0;
    text-align: left;
  }

  h4 {
    color: #757575;
    font-size: 1em;
    letter-spacing: -0.25px;
    line-height: 24px;
    margin: 0 auto;
    margin: 0.5em auto 1em;
    text-align: left;
  }
}
