@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
        url(typefaces/SourceSansPro-Regular.woff) format('woff'),
        url(typefaces/SourceSansPro-Regular.tff) format('ttf'),
        url(typefaces/SourceSansPro-Regular.otf) format('otf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Sans Pro'), local('SourceSansPro-Semibold'),
        url(typefaces/SourceSansPro-Semibold.woff) format('woff'),
        url(typefaces/SourceSansPro-Semibold.tff) format('ttf'),
        url(typefaces/SourceSansPro-Semiboldr.otf) format('otf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro'), local('SourceSansPro-Bold'),
        url(typefaces/SourceSansPro-Bold.woff) format('woff'),
        url(typefaces/SourceSansPro-Bold.tff) format('ttf'),
        url(typefaces/SourceSansPro-Bold.otf) format('otf');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'),
        url(typefaces/SourceSerifPro-Regular.woff) format('woff'),
        url(typefaces/SourceSerifPro-Regular.tff) format('ttf'),
        url(typefaces/SourceSerifPro-Regular.otf) format('otf');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Serif Pro'), local('SourceSerifPro-Semibold'),
        url(typefaces/SourceSerifPro-Semibold.woff) format('woff'),
        url(typefaces/SourceSerifPro-Semibold.tff) format('ttf'),
        url(typefaces/SourceSerifPro-Semiboldr.otf) format('otf');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Serif Pro'), local('SourceSerifPro-Bold'),
        url(typefaces/SourceSerifPro-Bold.woff) format('woff'),
        url(typefaces/SourceSerifPro-Bold.tff) format('ttf'),
        url(typefaces/SourceSerifPro-Bold.otf) format('otf');
}