@font-face {
    font-family: 'Karla';
    src: url('typefaces/Karla-Regular.eot');
    src: url('typefaces/Karla-Regular.eot?#iefix') format('embedded-opentype'),
         url('typefaces/Karla-Regular.woff') format('woff'),
         url('typefaces/Karla-Regular.ttf') format('truetype'),
         url('typefaces/Karla-Regular.svg#sailecregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Karla';
    src: url('typefaces/Karla-Bold.eot');
    src: url('typefaces/Karla-Bold.eot?#iefix') format('embedded-opentype'),
         url('typefaces/Karla-Bold.woff') format('woff'),
         url('typefaces/Karla-Bold.ttf') format('truetype'),
         url('typefaces/Karla-Bold.svg#sailecregular') format('svg');
    font-weight: 600;
    font-style: normal;

}


@font-face {
    font-family: 'Sailec';
    src: url('typefaces/sailec-webfont.eot');
    src: url('typefaces/sailec-webfont.eot?#iefix') format('embedded-opentype'),
         url('typefaces/sailec-webfont.woff') format('woff'),
         url('typefaces/sailec-webfont.ttf') format('truetype'),
         url('typefaces/sailec-webfont.svg#sailecregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Sailec';
    src: url('typefaces/sailec_thin-webfont.eot');
    src: url('typefaces/sailec_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('typefaces/sailec_thin-webfont.woff') format('woff'),
         url('typefaces/sailec_thin-webfont.ttf') format('truetype'),
         url('typefaces/sailec_thin-webfont.svg#sailecthin') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Sailec';
    src: url('typefaces/sailec_medium-webfont.eot');
    src: url('typefaces/sailec_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('typefaces/sailec_medium-webfont.woff') format('woff'),
         url('typefaces/sailec_medium-webfont.ttf') format('truetype'),
         url('typefaces/sailec_medium-webfont.svg#sailecthin') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
        url(typefaces/SourceSansPro-Regular.woff) format('woff'),
        url(typefaces/SourceSansPro-Regular.tff) format('ttf'),
        url(typefaces/SourceSansPro-Regular.otf) format('otf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Sans Pro'), local('SourceSansPro-Semibold'),
        url(typefaces/SourceSansPro-Semibold.woff) format('woff'),
        url(typefaces/SourceSansPro-Semibold.tff) format('ttf'),
        url(typefaces/SourceSansPro-Semiboldr.otf) format('otf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro'), local('SourceSansPro-Bold'),
        url(typefaces/SourceSansPro-Bold.woff) format('woff'),
        url(typefaces/SourceSansPro-Bold.tff) format('ttf'),
        url(typefaces/SourceSansPro-Bold.otf) format('otf');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'),
        url(typefaces/SourceSerifPro-Regular.woff) format('woff'),
        url(typefaces/SourceSerifPro-Regular.tff) format('ttf'),
        url(typefaces/SourceSerifPro-Regular.otf) format('otf');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Serif Pro'), local('SourceSerifPro-Semibold'),
        url(typefaces/SourceSerifPro-Semibold.woff) format('woff'),
        url(typefaces/SourceSerifPro-Semibold.tff) format('ttf'),
        url(typefaces/SourceSerifPro-Semiboldr.otf) format('otf');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Serif Pro'), local('SourceSerifPro-Bold'),
        url(typefaces/SourceSerifPro-Bold.woff) format('woff'),
        url(typefaces/SourceSerifPro-Bold.tff) format('ttf'),
        url(typefaces/SourceSerifPro-Bold.otf) format('otf');
}
