.user-view {
  background: @color-background;
  height: inherit;
  overflow-x: scroll;
  overflow-y: scroll;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0%;
  width: 100%;
  z-index: 4;
  text-align: center;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}