.index-view {
  .index-container {
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 6px;
    margin: 2em auto;
    max-width: 600px;
    min-width: 500px;
    padding: 0;
    width: 50%;


    .index-logo {
      .retina-picture('pub-logo-130-92', 130px, 92px, block);
      margin: 2em auto;
    }

    form {
      background: #f5f5f5;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      padding: 1em 2em;
      text-align: center;

      .buttons {
        text-align: center;
      }
    }

    .index-intro-text {
      line-height: 2em;
      margin: 1.25em auto 0 auto;
      text-align: center;
      width: 80%;
      font-size: 15px;
    }
  }
}
