.index-view {
  background: #fff;
  height: 100%;

  .index-container {
    max-width: 600px;
    min-width: 500px;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    width: 50%;

    .error-msg {
      margin: 0 0 1em 0;
      font-size: 0.95em;
    }

    .index-logo {
      .retina-picture('pub-logo-130-92', 130px, 92px, block);
      margin: 2em auto;
    }

    .about-box {
      border-top: 1px #ccc solid;
      padding: 1.5em 2em;
      text-align: center;
    }

    form {
      border-top: 1px #ccc solid;
      padding: 1.5em 3em;
      text-align: center;

      .buttons {
        margin: 1em 0 0;
        text-align: center;

        .test-drive-btn {
          display: block;
          margin: 0.5em auto 0;
        }
      }

      .input-container {
        .input-text {
          padding: 0;

          input {
            height: 30px;
            line-height: 30px;
          }
        }

        &:first-child input {
          border-radius: 4px 0 0 4px;
          border-right: none;
        }

        &:last-child input {
          border-radius: 0 4px 4px 0;
        }
      }
    }

    .index-intro-text {
      line-height: 2em;
      margin: 1.25em auto;
      text-align: center;
      width: 80%;
      font-size: 15px;
    }
  }
}
