.inspector-container {
  .no-select;
  .animation(right, 0.25s);
  bottom: 0;
  border-left: 1px solid hsla(0, 0%, 0%, 0.33);
  height: inherit;
  position: fixed;
  right: -@inspector-width;
  top: 40px;
  width: @inspector-width;
  z-index: 8000;
  overflow: hidden;

  h1 {
    font-size: 14px;
    font-weight: 500;
    padding: 0.5em 0.33em;
  }

  &.light {
    background: fade(#fff, 95%);

    h1 {
      color: #444;
    }
  }

  &.dark {
    background: fade(@color-dark-background, 95%);
  }

  &.inspector-container-visible {
    right: 0;
  }

  .inspector-content-section {
    padding: 0.5em;
    border-bottom: 1px solid #999;
  }

  .inspector-pane {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 30px;
    width: 100%;
    z-index: 1;
  }

  .inspector-tab-bar {
    background: fade(#fff, 95%);
    border-bottom: 1px solid #999;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    width: 100%;
    z-index: 2;

    .tab-button {
      cursor: default;
      border-right: 1px solid #999;
      box-sizing: border-box;
      display: inline-block;
      padding: 0.7em 0 0.5em;
      text-align: center;
      width: 50%;

      &.active {
        background: #aaa;
        color: #fff;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .inspector-layers {
    list-style: none;
    margin: 0;

    li {
      padding: 0;
      cursor: default;

      &.layer-active {
        .row {
          background: hsla(0, 0%, 0%, 0.05);
          border-bottom: 1px solid #aaa;
          border-top: 1px solid #aaa;
        }
      }

      .row {
        padding: 0.33em;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;

        &:hover {
          background: hsla(0, 0%, 0%, 0.10);
          border-bottom: 1px solid #aaa;
          border-top: 1px solid #aaa;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      .layer-item-icon {
        border-radius: 2px;
        margin: 3px 8px 0;
        width: 20px; height: 20px;

        &.layer-item-icon-ellipse {
          border-radius: 20px;
        }

        &.layer-item-icon-text {
          border: 1px solid #999;
          text-align: center;
          line-height: 20px;
          font-size: 11px;
        }
      }

      .layer-item-name {
        display: block;
        color: #444;
        padding: 0 0.5em 0 0;
      }

      .layer-item-size {
        display: block;
        color: #555;
        font-size: 11px;
        line-height: 26px;
      }
    }
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .inspector-container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &.light {
      background: fade(#fff, 85%);
    }

    &.dark {
      background: fade(@color-light-background, 85%);
    }
  }

  .inspector-tab-bar {
    background: fade(#fff, 85%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
