.inspector-container {
  .no-select;
  .animation(right, 0.25s);
  box-shadow: -1px 0 2px hsla(0, 0%, 0%, 0.25);
  bottom: 0;
  height: inherit;
  position: fixed;
  right: -@inspector-width;
  top: 40px;
  width: @inspector-width;
  z-index: 8000;

  h1 {
    font-size: 14px;
    font-weight: 500;
    padding: 0.5em 0.33em;
  }

  &.light {
    background: fade(#fff, 95%);

    h1 {
      color: #444;
    }
  }

  &.dark {
    background: fade(@color-dark-background, 95%);
  }

  &.inspector-container-visible {
    right: 0;
  }

  .inspector-content-section {
    padding: 0.5em;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  }

  .inspector-layers {
    list-style: none;
    margin: 0;

    li {
      padding: 0.167em 0.33em;

      .layer-item-name {
        display: inline-block;
        color: #444;
        padding: 0 0.5em 0 0;
      }

      .layer-item-size {
        display: inline-block;
        color: #555;
        font-size: 13px;
      }
    }
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .inspector-container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &.light {
      background: fade(#fff, 85%);
    }

    &.dark {
      background: fade(@color-light-background, 85%);
    }
  }
}
