.navbar-container {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  .valign-container-space-between;
  background: @color-light-background;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 9000;


  .navbar-logo {
    background: @color-active;
    border-right: 1px solid hsla(0, 0%, 0%, 0.6);
    height: 40px;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    width: 28px;

    .navbar-logo-icon {
      .retina-picture('pub-icon-20x20-w', 20px, 20px, inline-block);
      margin: 10px 4px;
    }
  }

  .navbar-title {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.5px;
    margin: 0 0 0 8px;
    vertical-align: top;
  }

  .navbar-controls-center {
    .button {
      margin: 0 4px;
    }

    .spacer {
      display: inline-block;
      width: 25px;
    }
  }

  .navbar-controls-right {
    margin: 0 8px 0 0;

    .button {
      margin: 0 0 0 8px;
    }
  }
}
