@import 'variables';
@import 'support';

.toolbar {
  .valign-container-space-between;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: #fff;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 9000;

  .navbar-logo {
    height: 40px;
    margin: 0;
    vertical-align: middle;
    width: 40px;
    display: inline-block;

    .navbar-logo-icon {
      .retina-background('publications-logo-27', 27px, 27px);
      width: 40px;
      height: 40px;
      background-position: 7px center;
    }
  }

  .scroll-view {
    color: #fff;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0;
    white-space: nowrap;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }

    .button {
      color: #3c3d3f;

      &:hover, &:active {
        color: #000;
      }

      &:disabled, &.disabled {
        color: #777;
      }
    }

    .spacer {
      display: inline-block;
      width: 25px;
    }

    .button--inspector, .button--logout {
      float: right;
      margin: 8px 3px 0 0px;

      @media all and (max-width: 767px) {
        float: none;
        margin: 0;
      }
    }

    .button--logout {
      margin-top: 11px;

      @media all and (max-width: 767px) {
        margin-top: 0;
      }
    }
  }
}
