<!DOCTYPE html>
<html>
    <head>
        <title>Publications - Page Not Found</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="error-404">
            <div class="error-content">
                <div class="pub-logo"></div>
                <h2>The page you are looking for cannot be found.</h2>
                <div class="btn-container">
                    <a class="btn" href='/'>Publications</a>
                </div>
            </div>
        </div>
    </body>
</html>