<!DOCTYPE html>
<html>
  <head>
    <title>Publications</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/components/requirejs/require.js" data-main="/javascripts/app"></script>
  </head>
  <body></body>
</html>