<!DOCTYPE html>
<html>
    <head>
        <title>Publications</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!--(if target development)><!-->
        <script type="text/javascript" src="/javascripts/components/requirejs/require.js" data-main="/javascripts/app"></script>
        <!--<!(endif)-->
        <!--(if target production)><!-->
        <script type="text/javascript" src="/javascripts/components/requirejs/require.js" data-main="/javascripts/dist/app.min"></script>
        <!--<!(endif)-->
    </head>
    <body>
        <div class="modal-container"></div>
    </body>
</html>