<button class="color-btn" id="inspector-shape-<%= property %>" disabled="true" data-property="<%= property %>" data-toggle="dropdown"></button>
<div class="dropdown-menu" role="menu">
    <div class="dropdown-arrow"></div>
    <ul class="colors">
        <li style="background: #c0392b" data-color="#c0392b"></li>
        <li style="background: #e74c3c" data-color="#e74c3c"></li>
        <li style="background: #e4007c" data-color="#e4007c"></li>
        <li style="background: #d35400" data-color="#d35400"></li>
        <li style="background: #e67e22" data-color="#e67e22"></li>
        <li style="background: #f39c12" data-color="#f39c12"></li>
        <li style="background: #f1c40f" data-color="#f1c40f"></li>
        <li style="background: #27ae60" data-color="#27ae60"></li>
        <li style="background: #2ecc71" data-color="#2ecc71"></li>
        <li style="background: #16a085" data-color="#16a085"></li>
        <li style="background: #1abc9c" data-color="#1abc9c"></li>
        <li style="background: #2980b9" data-color="#2980b9"></li>
        <li style="background: #3498db" data-color="#3498db"></li>
        <li style="background: #8e44ad" data-color="#8e44ad"></li>
        <li style="background: #9b59b6" data-color="#9b59b6"></li>
        <li style="background: #fff" data-color="#fff"></li>
        <li style="background: #e6e6e6" data-color="#e6e6e6"></li>
        <li style="background: #b3b3b3" data-color="#b3b3b3"></li>
        <li style="background: #808080" data-color="#808080"></li>
        <li style="background: #4d4d4d" data-color="#4d4d4d"></li>
        <li style="background: #000" data-color="#000"></li>
    </ul>
</div>
<input type="text" class="inspector-color-input" id="inspector-shape-<%= property %>-input" disabled="true" autocomplete="off" data-property="<%= property %>">
<label for="inspector-shape-<%= property %>-input"><%= label %> Color</label>