<div class="inspector-section inspector-section-document">
    <div class="content">
        <h3>Document</h3>
        <fieldset>
            <input class="inspector-document-input" type="text" id="inspector-document-width" data-property="width" autocomplete="off">
            <label for="inspector-document-width">Width</label>
        </fieldset>
        <fieldset>
            <input class="inspector-document-input" type="text" id="inspector-document-height" data-property="height" autocomplete="off">
            <label for="inspector-document-height">Height</label>
        </fieldset>
    </div>
</div>
<div class="inspector-section inspector-section-shape">
    <div class="content">
        <h3>Shape</h3>
        <div class="icon-btns">
            <button class="icon-btn inspector-shape-btn green" data-icon="h" data-action="new-shape" data-shape="1" data-toggle="tooltip" title="Create Rectangle" data-placement="right"></button>
            <button class="icon-btn inspector-shape-btn green" data-icon="g" data-action="new-shape" data-shape="2" data-toggle="tooltip" title="Create Ellipse" data-placement="right"></button>
<!--             <button class="icon-btn inspector-shape-btn green contextual" disabled="true" data-icon="m" data-action="add-text" data-toggle="tooltip" title="Add Text to Object" data-placement="right"></button>
 -->            <button class="icon-btn inspector-shape-btn red contextual" disabled="true" data-icon="l" data-action="remove" data-toggle="tooltip" title="Delete" data-placement="right"></button>
            <button class="icon-btn inspector-shape-btn contextual" disabled="true" data-icon="f" data-action="copy" data-toggle="tooltip" title="Copy" data-placement="left"></button>
            <button class="icon-btn inspector-shape-btn" id="inspector-paste-btn" disabled="true" data-icon="e" data-action="paste" data-toggle="tooltip" title="Paste" data-placement="left"></button>
            <button class="icon-btn inspector-shape-btn contextual" disabled="true" data-icon="d" data-action="cut" data-toggle="tooltip" title="Cut" data-placement="left"></button>
        </div>
        <fieldset>
            <input type="text" class="inspector-shape-input" id="inspector-shape-width" disabled="true" autocomplete="off" data-property="width" data-min="0.25" data-max="64.0" data-radix="3" data-mult="72">
            <label for="inspector-shape-width">Width</label>
        </fieldset>
        <fieldset>
            <input type="text" class="inspector-shape-input" id="inspector-shape-height" disabled="true" autocomplete="off" data-property="height" data-min="0.25" data-max="64.0" data-radix="3" data-mult="72">
            <label for="inspector-shape-height">Height</label>
        </fieldset>
        <fieldset>
            <input type="text" class="inspector-shape-input" id="inspector-shape-x" disabled="true" autocomplete="off" data-property="x" data-min="-1.0" data-max="64.0" data-radix="3" data-mult="72">
            <label for="inspector-shape-x">X</label>
        </fieldset>
        <fieldset>
            <input type="text" class="inspector-shape-input" id="inspector-shape-y" disabled="true" autocomplete="off" data-property="y" data-min="-1.0" data-max="64.0" data-radix="3" data-mult="72">
            <label for="inspector-shape-y">Y</label>
        </fieldset>
        <fieldset id="fill-fieldset">
        </fieldset>
        <fieldset id="stroke-fieldset">
        </fieldset>
        <fieldset>
            <input type="text" class="inspector-shape-input" id="inspector-shape-fill-opacity" disabled="true" autocomplete="off" data-property="fillOpacity" data-min="0.0" data-max="1.0" data-radix="2" data-mult="1">
            <label for="inspector-shape-fill-opacity">Fill Opacity</label>
        </fieldset>
        <fieldset>
            <input type="text" class="inspector-shape-input" id="inspector-shape-stroke-opacity" disabled="true" autocomplete="off" data-property="strokeOpacity" data-min="0.0" data-max="1.0" data-radix="2" data-mult="1">
            <label for="inspector-shape-stroke-opacity">Stroke Opacity</label>
        </fieldset>
        <fieldset>
            <input type="text" class="inspector-shape-input" id="inspector-shape-stroke-width" disabled="true" autocomplete="off" data-property="strokeWidth" data-min="0.0" data-max="32.0" data-radix="0" data-mult="1">
            <label for="inspector-shape-stroke-width">Stroke Width</label>
        </fieldset>
        <fieldset class="rectangle-only">
            <input type="text" class="inspector-shape-input" id="inspector-shape-r" disabled="true" autocomplete="off" data-property="r" data-min="0.0" data-max="64.0" data-radix="0" data-mult="1">
            <label for="inspector-shape-r">Corner Radius</label>
        </fieldset>
    </div>
</div>
<!-- <div class="inspector-section inspector-section-layers">
    <div class="content">
        <h3>Layers</h3>
    </div>
</div> -->