<form class="form">
    <h2>Create Publications Account</h2>
    <p>A Publications account is free and stores all your documents in the cloud. Passwords must be 8 characters long and include at least one letter or number.</p>
    <fieldset>
        <label for="create-account-email">Email</label>
        <input type="email" id="create-account-email">
    </fieldset>
    <fieldset>
        <label for="create-account-password">Password</label>
        <input type="password" id="create-account-password">
    </fieldset>
    <fieldset>
        <label for="create-account-password-confirm">Confirm</label>
        <input type="password" id="create-account-password-confirm">
    </fieldset>
    <fieldset class="form-controls">
        <button class="btn" type="button" id="create-account-button">Create Account</button>
        <button class="btn" type="button" id="close-button">Cancel</button>
    </fieldset>
</form>