<div class="pub-nav">
    <span class="pub-logo"></span>
    <div class="controls">
        <div class="auth">
            <button class="btn green" type="button" id="new-doc-btn">New Document</button>
            <button class="btn red" type="button" id="sign-out-btn">Sign Out</button>
        </div>
        <div class="unauth">
            <form class="sign-in-form" autocomplete="off">
                <fieldset class="inline">
                    <input id="sign-in-name" type="email" placeholder="email">
                    <input id="sign-in-password" type="password" placeholder="password">
                </fieldset>
                <button id="sign-in-btn" type="button" class="btn">Sign In</button>
            </form>
            <button class="btn" type="button" id="create-account-modal-btn">Create Account</button>
        </div>
    </div>
</div>
