<div class="landing-hero">
    <div class="pub-logo-big"></div>
    <h2><strong>Publications.</strong> Engineered and designed as a high-performance web app for beautiful page layout and screen design.</h2>
    <div class="mobile-info">
        <div class="lil-mac-icon" data-icon="a">
            
        </div>
        Visit Publications on your PC or Mac to start creating documents.
    </div>
</div>
<div class="content-section">
    <div class="pure-g-r feature-list">
        <div class="pure-u-1-3">
            <div class="feature-content blue">
                <div class="hero-icon" data-icon="q"></div>
                <h3>High-Performance Web App</h3>
                <p>Publications is up to <strong>21&times;</strong> faster&#185; than the previous generation and is <strong>7.5&times;</strong> smaller&#178;. It works with the latest versions of Safari, Chrome, Firefox and Internet Explorer&#179;.</p>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="feature-content green">
                <div class="hero-icon" data-icon="l"></div>
                <h3>Full-Stack JavaScript Architecture</h3>
                <p>Built upon the Node, Express and Backbone JavaScript framworks for a high-performance, plug-in free experience.</p>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="feature-content yellow">
                <div class="hero-icon" data-icon="h"></div>
                <h3>SVG Drawing Engine</h3>
                <p>Publications uses the SVG-based d3 drawing library. Everything is a vector and looks crisp and sharp from small displays to HiDPI Retina displays.</p>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="feature-content orange">
                <div class="hero-icon" data-icon="c"></div>
                <h3>Stroke, Transparency and Color</h3>
                <p>Publications now supports color transparency, rounded rectangle corners and shape borders of various colors and sizes.</p>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="feature-content red">
                <div class="hero-icon" data-icon="n"></div>
                <h3>Text and Typefaces</h3>
                <p>Add beautiful, crisp text to your documents with support for various typefaces. Coming Soon.</p>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="feature-content purple">
                <div class="hero-icon" data-icon="o"></div>
                <h3>Multi-Layer Vector PDFs</h3>
                <p>Publications exports documents to lightweight multi-layer PDF documents with vector shapes, lines and text.</p>
            </div>
        </div>
    </div>
</div>
<div class="macbook" style="width: 90%;">
        <div>
            <div class='macbook-screen'>
                <i></i>
                <div></div>
            </div>
            <div class='macbook-keyboard'>
                <div></div>
            </div>
            <div class='macbook-base'>
            </div>
        </div>
    </div>
<div class="content-section">
    <p class="small"><strong>&#185;</strong> Web app load time of 0.17 seconds versus 3.76 seconds for the previous generation. <strong>&#178;</strong> Web app including all resources of 0.4 megabytes versus 3.1 megabytes for the previous generation. Tested on an Apple 15-inch MacBook Pro with Retina Display with a 2.3GHz Intel Core i7-3615QM processor running OS X 10.8.4 using Safari 6.1. <strong>&#179;</strong> Publications has been tested to work with Safari 6, Chrome 26, Firefox 24 and Internet Explorer 10.</p>
</div>