<div class="content">
    <div class="info-box">
        <div class="info-box-content">
            <h1>The all-new Publications. Engineered and Designed for Performance.</h1>
            <p>Test drive the next-generation Publications&mdash;engineered and designed as a high-performance web app for beautiful page layout and screen design.</p>
        </div>
    </div>
    <div class="page-content">
        <div class="pure-g-r hero-info">
            <div class="pure-u-1-3">
                <div class="hero-icon" data-icon="j"></div>
                <h2>High-Performance Web App</h2>
                <p>Publications is up to <strong>21&times;</strong> faster&#185; than the previous generation and is <strong>7.5&times;</strong> smaller&#178;. It works with the latest versions of Safari, Chrome, Firefox and Opera Next.</p>
            </div>
            <div class="pure-u-1-3">
                <div class="hero-icon" data-icon="n"></div>
                <h2>Full-Stack JavaScript Architecture</h2>
                <div class="badge">New</div>
                <p>Built upon the Node, Express and Backbone JavaScript framworks for a high-performance, plug-in free experience.</p>
            </div>
            <div class="pure-u-1-3">
                <div class="hero-icon" data-icon="a"></div>
                <h2>SVG Drawing Engine</h2>
                <div class="badge">New</div>
                <p>Publications uses the SVB-based d3 drawing library. Everything is a vector and looks crisp and sharp from small displays to retina displays.</p>
            </div>
            <div class="pure-u-1-3">
                <div class="hero-icon" data-icon="k"></div>
                <h2>Stroke, Transparency and Color</h2>
                <div class="badge">New</div>
                <p>Publications now supports color and stroke transparency, rounded rectangle corners, shape borders and HEX colors.</p>
            </div>
            <div class="pure-u-1-3">
                <div class="hero-icon" data-icon="m"></div>
                <h2>Text and Typefaces</h2>
                <div class="badge">Coming Soon</div>
                <p>Add beautiful, crisp text to your documents with support for various typefaces.</p>
            </div>
            <div class="pure-u-1-3">
                <div class="hero-icon" data-icon="r"></div>
                <h2>Multi-Layer Vector PDFs</h2>
                <p>Publications exports documents to lightweight multi-layer PDF documents with vector shapes, lines and text.</p>
            </div>
            <div class="pure-u-1">
                <p class="small"><strong>&#185;</strong> Web app load time of 0.17 seconds versus 3.76 seconds for the previous generation. <strong>&#178;</strong> Web app including all resources of 0.4 megabytes versus 3.1 megabytes for the previous generation. Tested on an Apple 15-inch MacBook Pro with Retina Display with a 2.3GHz Intel Core i7-3615QM processor running OS X 10.8.4 using Safari 6.1.</p>
            </div>
        </div>
    </div>
</div>