<div class="auth-flexcontainer">
    <div class="big-flexbox">
        <form class="sign-in-form" autocomplete="off">
            <input id="sign-in-name" type="email" placeholder="email">
            <input id="sign-in-password" type="password" placeholder="password">
            <button id="sign-in-btn" type="button" class="btn">Sign In</button>
        </form>
    </div>
    <div class="small-flexbox"></div>
    <div class="small-flexbox">
        <button class="btn" type="button" id="create-account-modal-btn">Create an Account</button>
    </div>
</div>

<div class="hero-section">
    <h1>Publications</h1>
    <h2>Page layout &amp; screen design web app</h2>

</div>

<div class="content-group first-group">
    <div class="copy-content">
        <h1>
            Publications is engineered and designed as a high-performance web app for beautiful page layout and screen design.
        </h1>
        <p>
            Publications uses a SVG-based drawing engine. Everything is a vector and looks crisp and sharp from small displays to retina displays.
        </p>
        <p>
            Create shapes with vivid color, transparency, rounded rectangle corners and borders of various sizes.
        </p>
    </div>
    <div class="picture-content">
        <div class="computer-outline"></div>
    </div>
</div>

<div class="content-group second-group">
    <div class="picture-content">
        <div class="tablet-outline"></div>
    </div>
    <div class="copy-content">
        <h1>Create colorful documents and layouts using a responsive, fast user interface.</h1>
        <p>A contextual inspector only shows the tools and settings for the selected object. Shapes can be colorized using a color picker with 21 vibrant swatches or inputted using HEX values.</p>
        <p>Publications exports documents to lightweight multi-layer PDF documents with full-vector shapes. These PDF documents print beautifully at any size.</p>
        <p>Publications works on Macs, PCs or iPads with the latest versions of Safari, Chrome, Firefox or Internet Explorer.</p>
    </div>
</div>

<div class="content-group third-group">
    <div class="copy-content">
        <h1>
            Publications is a full-stack JavaScript web application operating on the strengh of open-source frameworks and UNIX.
        </h1>
        <p>
            Publications is an object-oriented web app using <a href="http://backbonejs.org" target="_blank">BackboneJS</a>, <a href="http://nodejs.org" target="_blank">NodeJS</a> and <a href="http://d3js.org" target="_blank">d3</a> frameworks running on an <a href="https://www.archlinux.org" target="_blank">ArchLinux</a> server.
        </p>
        <p>
            Design and Development is an ongoing collaboration and effort by <a href="http://twitter.com/mikerkelly" blank="_blank">Michael Kelly</a> and <a href="http://www.carlospaelinck.com" blank="_blank">Carlos Paelinck</a>.
        </p>
    </div>
    <div class="picture-content">
        <div class="tech-outline"></div>
    </div>
</div>
<div class="footer">
    <div class="content">
        2013 Publications App.
    </div>
</div>