
/**
* Publications JS App
* Document LESS Stylesheet
* Michael Kelly and Carlos Paelinck
*/

@navbar-height: 41px;
@footer-height: 0;

.pub-nav {
    background: #fff;
    box-shadow: 0 1px 0 0 hsla(0, 0%, 0%, 0.25);
    height: @navbar-height;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
    top: 0;
    display: none;

    .pub-logo {
        .retina-picture('pub-logo-152-21', 152px, 21px, inline-block);
        margin: 10px 0 0 10px;
    }

    .pub-wordmark {
        line-height: @navbar-height;
        display: inline-block;
        font-size: 1.4em;
        margin-left: 15px;
        font-family: 'Oswald', Helvetica, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: @copy;
    }

    .controls {
        position: absolute;
        right: 0;
        top: 0;
        
        .btn {
            border-radius: 0;
            border-top: none;
            border-bottom: none;
            border-right: none;
            line-height: @navbar-height;
            height: @navbar-height;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}


.document-library {
    height: inherit;
    min-height: inherit;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    background: #f5f5f5;

    .full-height-content {
        bottom: @footer-height;
        display: block;
        height: auto;
        position: absolute;
        top: @navbar-height;

        .content {
            height: 100%;
            min-height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        &.source-list {
            background: #fff;
            border-right: 1px solid #bbb;
            left: -24%;
            width: 23%;
            z-index: 4;
            .animation(left, 0.4s);

            .document-view-item {
                cursor: default;
                padding: 15px;
                border-bottom: 1px solid #ddd;
                .animation(background, 0.25s);

                &:hover {
                    background: #f4f4f4;
                }

                &.active {
                    background: @background-spot;
                }

                .name {
                    display: block;
                    font-size: 1.3em;
                    margin: 0 0 0.25em 0;
                }

                .description {
                    font-size: 1.1em;
                    font-weight: 400;
                }
            }
        }

        &.document-editor {
            right: 0;
            width: 77%;
            z-index: 3;
            .animation(right, 0.4s);

            .header {
                text-align: center;

                .document-name {
                    color: @copy;
                    font-size: 2em;
                    font-weight: 300;
                    margin: 0.7em 0 0;
                    text-align: center;
                    padding: 0.25em;
                    width: 60%;
                    background: transparent;
                    border: none;

                    &:hover, &:focus {
                        color: #037bff;
                    }

                    &:disabled, &:disabled:hover {
                        box-shadow: none;
                        color: @copy;
                        -webkit-text-fill-color: @copy;
                        border-color: transparent;
                        background: transparent;
                    }
                }

                .controls {
                    padding: 0.67em 3em 1em 3em;
                    text-align: center;

                    .edit-controls {
                        display: none;
                    }

                    #inspector-controls {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.axis text {
    fill: #34495e;
    font-size: 12px;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.axis line,
.axis path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.grid .tick {
    stroke: #ddd;
}

.grid path {
    stroke-width: 0;
}

.document-svg-frame {
    shape-rendering: crispEdges;
}

footer {
    bottom: 0;
    background: @background-gray;
    border-top: 1px solid #bbb;
    height: @footer-height;
    position: absolute;
    width: 100%;
    z-index: 80;
    text-align: left;
    line-height: @footer-height;

    .footer-content {
        padding: 0 0 0 1em;
    }

    #about-btn {
        float: right;
        margin: 3px 3px 0 0;
    }
}