
/**
* Publications JS App
* Editor LESS Stylesheet
* Michael Kelly and Carlos Paelinck
*/

.edit-view {
    width: 100%;
    text-align: center;

    .document-svg-container {
        margin: 1em auto;
    }
}