.landing-page {
    background: #fff;
    bottom: 0;
    display: block;
    height: auto;
    position: absolute;
    top: @navbar-height;
    width: 100%;
    .animation(opacity, 0.25s);

    .content {
        height: 100%;
        min-height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        .padding {
            padding: 1em;
        }

        .info-box {
            background: #037bff;
            border-radius: 3px;
            padding: 2em;
            width: 50%;
            margin: 2em auto;
            color: #fff;
            text-align: center;

            h1 {
                margin: 0 0 0.5em 0;
                font-weight: 300;
                font-size: 1.8em;
            }

            p {
                font-weight: 500;
                font-size: 1.2em;
                line-height: 1.4em;
                margin: 0;
            }
        }

        .publications-wordmark-big {
            .retina-picture('pub-logo-414-87', 414px, 87px, inline-block);
        }
    }
}