@import url(macbook.less);

.landing-page {
    background: #fff;
    bottom: 0; top: @navbar-height;
    display: block;
    height: auto;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    padding: 0;

    .landing-hero {
        margin: 6em 0;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
            margin: 2em 0;
        }

        .mobile-info {
            display: none;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
                text-align: center;
                padding: 2em 2em 1em 2em;
                display: block;
                font-size: 1.2em;
                font-weight: 400;
                
                .lil-mac-icon {
                    font-size: 2.2em;
                }
            }
        }
    }

    .pub-logo-big {
        .retina-picture('pub-logo-175-201', 175px, 201px, block);
        margin: 2em auto;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
            .retina-picture('pub-logo-92-106', 92px, 106px, block);
            margin: 1em auto;
        }
    }

    .computer-hero-img {
        .retina-picture('computer-hero-img', 960px, 552px, block);
        margin: 1em auto 4em auto;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
            display: none;
        }
    }

    h2 {
        font-size: 3em;
        font-weight: 300;
        padding: 0 3em;
        top: 10%;
        position: relative;
        text-align: center;
        max-width: 950px;
        margin: 0 auto;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
            font-size: 1.5em;
            padding: 0 1em;
        }

        strong {
            font-weight: 400;
        }
    }

    .content-section {
        max-width: 950px;
        margin: 0 auto;

        p.small {
            margin: 0 0 2em 0;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
                padding: 1em 2em;
            }
        }
    }
}

.feature-list {
    padding: 2em 0 0 0;
    margin: 0;
    border-top: 1px dashed #bbb;

    .feature-content {
        text-align: center;
        padding: 2em;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
            padding: 1em 2em;
        }

        h3 {
            font-size: 2em;
            line-height: 1em;
            font-weight: 300;
            margin: 0.5em 0;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
                font-size: 1.5em;
            }
        }

        p {
            font-size: 1.5em;
            line-height: 1.5em;
            margin: 0 0 2em 0;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
                margin: 0 0 1em 0;
                font-size: 1.2em;
                line-height: 1.4em;
            }

            strong {
                font-weight: 600;
                letter-spacing: -1px;
            }
        }

        .badge {
            background: #037bff;
            color: #fff;
            display: inline-block;
            font-weight: 600;
            font-size: 0.95em;
            margin: 0.25em auto 1em auto;
            text-transform: uppercase;
            padding: 0.25em 1.25em;
            border-radius: 6px;
        }

        // &.green {
        //     .hero-icon {
        //         color: #00ff22;
        //     }
        // }

        // &.blue {
        //     .hero-icon {
        //         color: #00a7ff;
        //     }
        // }

        // &.yellow {
        //     .hero-icon {
        //         color: #ffdf00;
        //     }
        // }

        // &.orange {
        //     .hero-icon {
        //         color: #ff7400;
        //     }
        // }

        // &.red {
        //     .hero-icon {
        //         color: #ff003b;
        //     }
        // }

        // &.purple {
        //     .hero-icon {
        //         color: #b000ff;
        //     }
        // }
    }

    .hero-icon {
        display: inline-block;
        font-size: 60px;
        line-height: 60px;
        margin: 0 auto;
        color: #037bff;
        text-align: center;
    }
}

.error-404 {
    display: block;
    width: 300px;
    margin: -150px 0 0 -150px;
    height: 250px;
    top: 50%; left: 50%;
    position: absolute;


    .error-content {
        text-align: center;

        h2 {
            font-size: 1.8em;
            font-weight: 400;
        }

        .btn-container {
            position: absolute;
            bottom: 0;
            border-top: 1px solid #bbb;
            padding-top: 1em;
            width: 100%;
        }
    }

    .pub-logo {
        .retina-picture('pub-logo-92-106', 92px, 106px, inline-block);
        margin: 0 auto;
    }
}