
/**
 * Publications JS App
 * LESS Stylesheet
 * Michael Kelly and Carlos Paelinck
 */

@import url(normalize.less);
@import url(pure-grid.less);
@import url(variables.less);
@import url(animations.less);
@import url(nprogress.less);
@import url(pub-icon-font.less);
@import url(button.less);
@import url(modal.less);
@import url(document.less);
@import url(inspector.less);
@import url(landing.less);
@import url(editor.less);

html, body {
    color: @copy;
    background: #fff;
    font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    .pub-index {
        height: inherit;
        min-height: inherit;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

h1, h2, h3, h4, h5, p, label, button, table, ul, ol, section {
    text-rendering: optimizeLegibility;
}