.modal-transition-enter {
  opacity: 0;
}

.modal-transition-enter.modal-transition-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.modal-transition-leave {
  opacity: 1;
}

.modal-transition-leave.modal-transition-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
