<div class="home">
  <div class="hero">
    <div class="pub-container">
      <div class="publications-logo"></div>
      <h1>web app for design &amp; page layout</h1>
    </div>
  </div>
  <div class="login-bar">
    <form ng-submit="homeController.loginSubmit()" submitted="submitted" name="loginForm" role="form" class="form">
      <input class="txt frame frame-big" type="email" ng-model="username" name="username" id="username" required placeholder="user@email.com">
      <input class="txt frame frame-big" type="password" ng-model="password" name="password" id="password" required placeholder="• • • • • • • •">
      <button class="btn frame frame-big" type="submit" ng-disabled="loginForm.$invalid">Log In</button>
      <button class="btn frame frame-big" type="button" ng-click="homeController.createAccount()">Test Drive / Sign Up</button>
    </form>
    <p>Instantly try out Publications with a free test drive. A test drive can be converted to a full account.</p>
  </div>
  <div class="info-section">
    <div class="info-section-content">
      <h1>Design documents &amp; export PDFs</h1>
      <p>Publications includes all the tools to create beautiful documents with shapes and text. Shapes can be customized to have different fill colors, border colors, border width, radii, opacity and size. Publications now supports canvas zooming and object snap-to-grid alignment. Export your documents to scalable multi-layer PDFs that can be shared with anyone.</p>
      <h1 class="second">Organize your documents</h1>
      <p>Publications saves all your documents securely on the cloud. Easily view all your documents with full crisp and clear previews. Publications now lets you search and filter documents by name or date.</p>
    </div>
  </div>
  <div class="info-section info-section-alt">
    <div class="info-section-content">
      <h1>Full-stack JavaScript app</h1>
      <p>Publications is a full-stack, open-source JavaScript app using Angular, Node, Hapi, Mongoose and PDFKit. Visit the source at
        <a href="https://github.com/carlospaelinck/publications-js" target="_blank">GitHub</a>&nbsp;<span data-icon=""></span>.
      </p>
      <div class="about-boxes">
        <div class="about-box">
          <div class="people-pic" id="mike-pic"></div>
          <h2>Mike Kelly</h2>
          <p>Publications API &amp; DevOps</p>
        </div>
        <div class="about-box">
          <div class="people-pic" id="carlos-pic"></div>
          <h2>Carlos Paelinck</h2>
          <p>Client Apps &amp; Design</p>
        </div>
      </div>
    </div>
  </div>
</div>
