.document-item-controls-enter {
  opacity: 0.00;
  transition: all 0.2s;
}

.document-item-controls-enter.document-item-controls-enter-active {
  opacity: 1;
}

.document-item-controls-leave {
  opacity: 1;
  transition: all 0.2s;
}

.document-item-controls-leave.document-item-controls-leave-active {
  opacity: 0.00;
}
