<div class="modal-dialog">
  <div class="modal-dialog-title-bar">
    <span class="title">Log in to Publications</span>
  </div>
  <form ng-submit="submit()" shake-that submitted="submitted" name="loginForm" role="form" class="form form-vertical">
    <div class="modal-content">
      <div class="modal-fieldsets">
        <fieldset class="txt-group">
          <input class="txt" type="email" ng-model="username" name="username" id="username" required>
          <label class="txt-label" for="username">Email Address</label>
        </fieldset>
        <fieldset class="txt-group">
          <input class="txt" type="password" ng-model="password" name="password" id="password" required>
          <label class="txt-label" for="password">Password</label>
        </fieldset>
      </div>
      <button class="btn btn-frame" type="submit" ng-disabled="loginForm.$invalid">Log In</button>
      <button class="btn btn-frame" type="button" ng-click="loginModal()">Cancel</button>
    </div>
  </form>
</div>
