<div class="landing">
  <div class="landing-header">
    <div class="app-wordmark"></div>
    <div class="landing-header-btns">
      <button class="btn" ui-sref="pub.login">Log In&nbsp;&nbsp;/&nbsp;&nbsp;Test Drive</button>
    </div>
  </div>
  <h1>A web app for page layout and screen design.</h1>
  <h2>Design documents of any size with colorful shapes and export them as multi-layer vector PDFs.</h2>
  <div class="landing-rule"></div>
</div>
<div pub-modal-login class="app-cover animation-fade-in" ng-show="loginModalVisible"></div>
