<form ng-submit="login()" name="loginForm" role="form" class="form form-vertical">
  <div class="login-box">
    <div class="pub-logo-72"></div>
    <div class="message">Log in to Publications</div>
    <fieldset class="fieldset-text">
      <label for="username">Email Address</label>
      <input class="input-text" type="text" ng-model="username" name="username" id="username" required>
    </fieldset>
    <fieldset class="fieldset-text">
      <label for="password">Password</label>
      <input class="input-text" type="password" ng-model="password" name="password" id="password" required>
    </fieldset>
    <div class="form-controls">
      <button class="button button-toolbar" type="submit" ng-disabled="loginForm.$invalid">Log In</button>
      <button class="button button-toolbar" type="button" ng-click="testDrive()">Dev Mode</button>
    </div>
  </div>
</form>